body {
  font-family: Arial;
  margin: 0;
  background: #f5f7fa;
}

header {
  background: #2c3e50;
  color: white;
  padding: 15px;
}

nav button {
  margin: 5px;
}

.grid {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

.login-box {
  width: 300px;
  margin: auto;
  margin-top: 150px;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

#docs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.doc {
  background: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

iframe {
  width: 100%;
  height: 600px;
}

.hidden {
  display: none;
}